name: gitops-server
namespace: api

labels:
  app.kubernetes.io/name: gitops-server
  app.kubernetes.io/component: api
  app.kubernetes.io/part-of: platform
  app.kubernetes.io/managed-by: helm

podLabels: {}

annotations: {}
podAnnotations: {}

replicaCount: 2

image:
  repository: 014276069644.dkr.ecr.ap-northeast-2.amazonaws.com/gitops-server
  tag: 46d4ab08924d50a3bc13ae3135a0a1deaf23b9d7
  pullPolicy: IfNotPresent

container:
  port: 3000

env: []

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  enabled: true
  liveness:
    path: /health
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 5

service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000
  annotations: {}

ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:014276069644:certificate/8d55e897-f9fb-4ac5-a2ca-726392d4a95e
  hosts:
    - host: api.brian-dev.click
      paths:
        - path: /
          pathType: Prefix

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70