name: gitops-server
namespace: api
labels:
  app.kubernetes.io/name: gitops-server
  app.kubernetes.io/component: api
  app.kubernetes.io/part-of: platform
  app.kubernetes.io/managed-by: helm
podLabels: {}
annotations: {}
podAnnotations: {}
replicaCount: 3
image:
  repository: 014276069644.dkr.ecr.ap-northeast-2.amazonaws.com/gitops-server
  tag: a18354b1c6be4946baf52a990288982321900e19
  pullPolicy: IfNotPresent
container:
  port: 3000
env: []
externalSecret:
  enabled: true
  name: api-example-env
  refreshInterval: 1m
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  target:
    name: api-example-env-secret
    creationPolicy: Owner
  data:
    - secretKey: .env
      remoteRef:
        key: arn:aws:secretsmanager:ap-northeast-2:014276069644:secret:example-env-bxjBMN

envFileSecret:
  enabled: true
  secretName: api-example-env-secret
  key: .env
  mountPath: /app/.env
resources:
  requests:
    cpu: 500m
    memory: 1024Mi
  limits:
    cpu: 1000m
    memory: 2048Mi
probes:
  enabled: true
  liveness:
    path: /health
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    path: /health
    initialDelaySeconds: 10
    periodSeconds: 5
service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 3000
  annotations: {}
ingress:
  enabled: true
  className: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-northeast-2:014276069644:certificate/8d55e897-f9fb-4ac5-a2ca-726392d4a95e
  hosts:
    - host: api2.brian-dev.click
      paths:
        - path: /
          pathType: Prefix
hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
